absl-py==2.1.0
android_env==1.2.3
dm_env==1.6
fuzzywuzzy==0.18.0
google-generativeai
grpcio-tools
immutabledict==2.0.0
IPython
jsonschema==4.17.3
matplotlib==3.6.1
opencv-python
pydub
python-Levenshtein
pytest
requests
tenacity
termcolor
transformers
openai
peft
azure-identity
vllm==0.7.3
bs4
bitsandbytes==0.45.5=
datasets==3.1.0
decord==0.6.0
deepspeed==0.16.1
liger_kernel==0.5.1
safetensors==0.4.5
ujson==5.10.0
wandb==0.19.0
scipy==1.14.1
openai==1.58.1
trl
numpy
Pillow